/* HEADER STYLES  */
/* HEAD STYLES */
/* HEAD 1 STYLES */
.head-1 {
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-image: url("../images/Banner\ Image.png");
}

.head-1-title {
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 400;
    padding-top: 100px;
}

.head-1-title-2 {
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    color: rgb(202, 215, 224);
}

/* head 2 styles */
.head-2 {
    text-align: center;
    line-gap-override: 10px;
}

.head-dis {
    font-size: 90px;
    padding: 0px;
    color: red;
}

.head-holi {
    font-size: 20px;
    color: crimson
}

.head-cat {
    font-size: 50px;
    ;
}

.head-pic {
    height: 500px;
    border-radius: 0px;
    /* position: absolute; */
    padding: 0px 250px 0px ;
    margin-top: 0px;
    width: 802px;
}